# -*- coding: utf-8 -*-
# vim: ft=yaml
---
pki:
  lookup:
    # Defaults to True but on the off chance you want to NOT managed
    # Repo keys an CA cert trusts you can set this to False
    enabled: False

     
    # state will loop through and import each pub cert listed below
    pubcerts:
      certname1: | 
        -----BEGIN CERTIFICATE-----
        CERTTEXT HERE
        MUST BE INTENTED PROPERLY!!! 1 'tab' (2 spaces by default)
        IN FROM the certname
        <snip>
        -----END CERTIFICATE-----
      certname2:
        -----BEGIN CERTIFICATE-----
        CERTTEXT HERE
        MUST BE INTENTED PROPERLY!!! 1 'tab' (2 spaces by default)
        IN FROM the certname
        <snip>
        -----END CERTIFICATE-----


    # state will loop through and import each pgp key listed below
    pubkeys:
      keyname1: |
        -----BEGIN PGP PUBLIC KEY BLOCK-----
        Version: GnuPG v2.0.22 (GNU/Linux)

        KEYTEXT HERE
        MUST BE INTENTED PROPERLY!!! 1 'tab' (2 spaces by default)
        IN FROM the keyname
        <snip>
        -----END PGP PUBLIC KEY BLOCK-----
      keyname2: |
        -----BEGIN PGP PUBLIC KEY BLOCK-----
        Version: GnuPG v2.0.22 (GNU/Linux)

        KEYTEXT HERE
        MUST BE INTENTED PROPERLY!!! 1 'tab' (2 spaces by default)
        IN FROM the keyname
        <snip>
        -----END PGP PUBLIC KEY BLOCK-----
